ion-item {
  --padding-start: 0;
  margin-bottom: 12px;
}

ion-card-title ion-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.register-form {
  padding-top: 16px;
  border-top: 1px solid var(--ion-color-light);
}
